apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  labels:
    app: promtail
data:
  promtail.yaml: |
    server:
      http_listen_port: 3101
      grpc_listen_port: 9095

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki-service:3100/loki/api/v1/push

    scrape_configs:
      # Scrape all pods in the default namespace
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - default
        relabel_configs:
          # Only scrape pods that have logs
          - source_labels: [__meta_kubernetes_pod_phase]
            regex: (Succeeded|Failed)
            action: drop
          
          # Add pod labels
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          
          # Add namespace label
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          
          # Add pod name label
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          
          # Add container name label
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          
          # Add node name label
          - source_labels: [__meta_kubernetes_pod_node_name]
            target_label: node
          
          # Set the log path
          - replacement: /var/log/pods/*$1/*.log
            separator: /
            source_labels:
              - __meta_kubernetes_pod_uid
              - __meta_kubernetes_pod_container_name
            target_label: __path__

