apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  labels:
    app: promtail
data:
  promtail.yaml: |
    server:
      http_listen_port: 3101
      grpc_listen_port: 9095

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki-service:3100/loki/api/v1/push

    scrape_configs:
      - job_name: kubernetes-pods
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - default
        pipeline_stages:
          - docker: {}
        relabel_configs:
          # Drop completed/failed pods
          - source_labels: [__meta_kubernetes_pod_phase]
            regex: (Succeeded|Failed)
            action: drop
          
          # Map pod labels
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          
          # Add standard labels
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_pod_container_name]
            target_label: container
          - source_labels: [__meta_kubernetes_pod_node_name]
            target_label: node
          
          # Construct log path: /var/log/pods/{namespace}_{pod-name}_{pod-uid}/{container-name}/*.log
          - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_pod_name, __meta_kubernetes_pod_uid]
            separator: _
            target_label: __tmp_pod_path
          - source_labels: [__tmp_pod_path, __meta_kubernetes_pod_container_name]
            separator: /
            target_label: __tmp_full_path
          - source_labels: [__tmp_full_path]
            regex: (.+)
            replacement: /var/log/pods/$1/*.log
            target_label: __path__
